.header
{
    background-color: black;
    font: 2em "Fira Sans", sans-serif;
    color: #f0f0f0;
    text-align: center;
}

.body-title
{
    font: 1.7em "Fira Sans", sans-serif;
    text-decoration: underline;
}

.menu-title
{
    font: 1.1em "Fira Sans", sans-serif;
}

.answer
{
    font: bold 2.5em "Fira Sans", sans-serif;
}

.all
{
    background-color: #f0f0f0;
}